.env
__pycache__/
venv/
.venv/
*.txt
.idea/
.egg-info/
*.log
*.tmp
*.tmp.*
coverage/
node_modules/
target/
build/
dist/
.Gogradle
.gradle/
.vscode/
/.github/
/go/bin
/go/pkg
.DS_Store
Thumbs.db
*.exe
*.dll
*.pdb
vendor/
*.sql
*.db
migrations/
mariadb.log
mysql.log
.sql
*.sql
db.sql
*.log
tmp/
cache/
build/
bin/
pkg/
vendor/
.Golang
/go/
*.pb.go
*.pb.gw.go
protobuf/
grpc/
*.h
*.c
*.cpp
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.xml
*.yml
*.yaml
*.json
*.csv
*.xlsx
*.xls
*.pptx
*.ppt
*.docx
*.doc
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.ico
*.cur
*.ani
*.mp3
*.wav
*.mp4
*.avi
*.mov
*.flv
*.mkv
*.webm
*.ogg
*.ogv
*.swf
*.fla
*.zip
*.rar
*.7z
*.gz
*.bz2
*.xz
*.lzma
*.lz4
*.zst
*.tar
*.tgz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz4
*.tar.zst
main.exe
main.test
go.mod
go.sum